<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sal.dao.DepartmentMapper">
    <select id="selectDepartmentAll" resultType="Department">
        SELECT * FROM `department`
    </select>

    <delete id="deleteDepartment" parameterType="int">
        DELETE FROM `department` WHERE `department_id`=#{department_id}
    </delete>

    <update id="updateDepartment" parameterType="Department">
        UPDATE `department` SET `department_name`=#{department_name} WHERE `department_id`=#{department_id}
    </update>

    <insert id="addDepartment" parameterType="Department">
        INSERT INTO `department` (`department_name`)
        VALUES
        (
        #{department_name}
        );
    </insert>
</mapper>