<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>职称管理</title>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/vue.min.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <script src="../scripts/bootstrap/3.3.6/bootstrap.min.js"></script>
    <link href="../styles/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <link href="../styles/home.css" rel="stylesheet">

</head>
<body>
<div class="page-header" id="top">
    <div class="ti">
        <h1>工资管理系统<br><small>{{huan}}</small></h1>
        <span class="text-danger zu"><a href="logout">注销</a></span>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked" style="width:120px">
                <li role="presentation" ><a href="home">部门管理</a></li>
                <li role="presentation" class="active"><a href="position">职称管理</a></li>
                <li role="presentation"  ><a href="salaryKind">工资类别管理</a></li>
                <li role="presentation"><a href="person">人员管理</a></li>
                <li role="presentation"><a href="salary">人员工资管理</a></li>
                <li role="presentation"><a href="statistics">工资统计</a></li>
            </ul>

        </div>
        <div class="col-xs-10 ">
            <div id="app">
            <div class="panel panel-info">
                <div class="panel-heading">添加职称</div>
                <div class="panel-body">
                    <span class="label label-primary">添加</span><br>
                    <div class="col-xs-4"><input type="text" class="form-control" placeholder="职称名称" v-model="posi.position_name" /></div><button type="button" class="btn btn-success" v-on:click="add">添加</button>
                </div>
            </div>



            <div class="panel panel-info">
                <div class="panel-heading">职称信息</div>
                <div class="panel-body">


                        <table class="table table-bordered">
                            <thead>
                            <th>职称ID</th>
                            <th>职称名</th>
                            <th>操作</th>
                            </thead>
                            <tbody>
                            <tr v-for="elen in positions">
                                <td>{{elen.position_id}}</td>
                                <td>{{elen.position_name}}</td>
                                <td>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" @click="update(elen.position_id,elen.position_name)">修改</button>
                                    <button type="button" class="btn btn-danger" @click="deletePosition(elen.position_id)">删除</button>
                                </td>
                            </tr>


                            </tbody>

                        </table>




                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button data-dismiss="modal" class="close" type="button"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">修改</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>修改职称</p>
                                        <input type="text" class="form-control" v-model="up.position_name"/>

                                    </div>
                                    <div class="modal-footer">
                                        <span ref="tip" class="text-primary"></span>
                                        <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                                        <button class="btn btn-primary" type="button" @click="commit()">提交</button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<script type="text/javascript">
    axios.defaults.withCredentials = true;

    var t=new Vue({
        el:'#top',
        data:{
            huan:''
        },
        mounted:function(){
            this.huan="欢迎您，"+sessionStorage.getItem("username");
        }
    })


    //ViewModel
    var de=new Vue({
        el: '#app',
        data:{
            positions:[],
            posi: { id: 0, position_name: '' },
            page:{},
            up: { position_id: 0,position_name:'' }
        },
        mounted:function(){
            this.list(1);

        },
        methods: {
            list: function(start){
                var url="position/positionall";
                axios.get(url).then(function(response){
                    de.page=response.data;
                    console.log(de.page);
                    de.positions=response.data.object;
                })
            },
            add: function(event) {
                var url="position/addposition";
                axios.post(url,this.posi).then(function(response){
                    de.list(1);
                    de.posi= { id: 0, position_name: '' }
                });
            },
            deletePosition: function (id) {
                var url = "position/deleteposition/"+id;
                axios.get(url).then(function(response){
                    de.list(1);
                });
            },
            update: function (id,name) {
                de.up.position_id=id;
                de.up.position_name=name;
                var _this = this;
                _this.$refs.tip.innerHTML = '';
            },
            commit: function () {
                var url="position/updateposition";
                var _this = this;
                axios.post(url,this.up).then(function(response){
                    var res=response.data;
                    console.log(res);
                    _this.$refs.tip.innerHTML = res.msg;
                    if(res.msg=="修改成功！"){
                        de.list(1);
                        de.up= { position_id: 0, position_name: '' };
                    }
                    else {
                        de.list(1);
                    }


                });
            }


        }
    })

</script>
</body>
</html>