<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>登录</title>
    <script src="../scripts/jquery.min.js"></script>
    <script src="../scripts/vue.min.js"></script>
    <script src="../scripts/axios.min.js"></script>
    <link href="../styles/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
    <script src="../scripts/bootstrap/3.3.6/bootstrap.min.js"></script>
    <link href="../styles/login.css" rel="stylesheet">

</head>
<body>
     <div class="main">
         <div class="cen" >
         <div class="lo" id="app">

             <input v-model="username" class="form-control" type="text" name="username" placeholder="用户名" /><br>
             <input v-model="password" class="form-control" type="password" name="=password" placeholder="密码"/><span ref="tip"></span><br>
                 <button @click="doClick"  class="bt btn btn-primary">登录</button>


         </div>
         </div>
     </div>

<script type="text/javascript">
    axios.defaults.withCredentials = true;
    var login=new Vue({
        el: '#app',
        data: {
            userId: 0,
            username:'',
            password:'',
            msg:'',
            flag:false

        },
        methods:{
            doClick:function () {
                var data={
                    userId:this.userId,
                    username:this.username,
                    password:this.password
                }
                var url="user/login";
                var _this = this
                axios.post(url,data).then(function(response){
                    var res=response.data;
                    console.log(res);
                    if(res.code==200){
                        sessionStorage.setItem("username",_this.username);
                        var newurl="home";
                        console.log(1)
                        window.location.href = newurl;
                    }
                   else if(res.code==400){
                       _this.$refs.tip.innerHTML = res.msg;

                    }
                })
            }
        },


    })

</script>
</body>
</html>