.nav{
    text-align:center
}
#top{
    margin-left: 50px;
    margin-right: 50px;
}
.zu{
    position: absolute;
    margin-right: 100px;
    top: 10px;
    right: 10px;

}
.ti{
    position: relative;
}

.bom{
    text-align:center;
}