@CHARSET "UTF-8";
.main{
    width:100%;
    height:600px;
    background-size:cover;
    display:inline-block;
    position:relative;
}
.cen{
    width:100%;
    position: absolute;
    text-align:center;
    top: 100px;
    background: #2aabd2;
    height: 350px;
}
.lo{
    position:relative;
    width: 20%;
    display: inline-block;
    float: right;
    text-align:center;
    margin-right: 100px;
    top:100px;
    padding: 20px;
}
.bt{
    width: 80%;
   margin-left: 10%;
}